---
const { name, image } = Astro.props;
---
<div class="w3-display-container" style="width:100%" >
  <img src={image} style="width:100%" alt="Avatar">
  <div class="w3-display-bottom-right w3-container w3-text-black">

    <h3 class="w3-text-grey">{name}</h3>
  </div>
</div>